<% layout("layouts/webhome.ejs")%>
<style>
   .main_box{
        background-image: url(https://images.unsplash.com/photo-1437846972679-9e6e537be46e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background: url("photo.jpg"); */
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wlc_msg{
  
    text-align: center;
    justify-content: center;
   
}
.main_box h2{
    text-align: center;
    justify-content: center;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
} 
.main_box h1{
    color:brown;
    text-align: center;
    justify-content: center;
    font-family: 'Rubik Glitch Pop', system-ui;
    color:cornflowerblue;
}
a{
    text-decoration: none;
    
}
.btn{
    border: none;
    height: 4rem;
   background-color: black;
}
.main_box h1:hover{
    color:brown;
    text-align: center;
    justify-content: center;
    font-family: 'Rubik Glitch Pop', system-ui;
    color:aquamarine;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
}
</style>

<div class="main_box">
   <div class="wlc_msg"> <h2>Welcome To</h1>

    <button type="button" class="btn btn-outline-dark"><a href="/listings"><h1>Wanderlust <i class="fa-regular fa-compass fa-lg" style="color: #f0283c;"></i></h1> </a></button>
    <h2> Explore your dream destination</h2></div>
</div>
</div>